<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>

<body>
  
    <form action="" method="post">
        <textarea id="chat-log" cols="100" rows="20" readonly>
            {% for cont_all in chat_cont_all %}
                {{ cont_all.chat_cont }}
            {% endfor%}
        </textarea><br/>
        <p>
            <label for="id_chat_cont">Chat_cont:</label>
            <input id="id_chat_cont" type="text" name="chat_cont" maxlength="100" />
        </p>
        {% csrf_token %}

        <button>
            <input type="button" id="chat-message-submit" value="전송"/>
            <input type="submit" value="채팅 저장"/>
        </button>
    </form>

</body>

<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };


   

    document.querySelector('#id_chat_cont').focus();
    document.querySelector('#id_chat_cont').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#id_chat_cont');
        var message = messageInputDom.value;
     
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>

</html>
